<%- include("templates/header") %>
<%- include("templates/userinfobar", {username: username}) %>

<h1>Your Chats</h1>
<h3>You are part of TODO chats</h3>
<a href="/create-room">Create Room</a>

<div>
    <h1>Welcome to the home page</h1>
</div>

<%- include("templates/footer") %>