<%- include("templates/header") %>

<h1>Log in</h1>

<form action='/loggingin' method='post'>
    <input name='username' type='text' placeholder='username'>
    <input name='password' type='password' placeholder='password'>
    <button>Log in</button>
</form>
<br>
<% if (invalid) { %>
    <p style="color:red">Fields can not be blank</p>
<% } %>
<a href="/">Return</a>

<%- include("templates/footer") %>