<%- include("templates/header") %>
<%- include("templates/userinfobar", {username: username}) %>

<h1>You are not a member of this room</h1>

<a href="/loggedin/home">Return Home</a>

<%- include("templates/footer") %>