
.message-content {

    .emoji {
        display: inline-block;
        width: 1em;
        height: 1em;
    }

    .emoji:hover {
        background-color: cornflowerblue;
    }

    .add-emoji {
        display: none;
    }
}

.message-content:hover {
    .add-emoji {
        display: inline;
    }
}